* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 2.7em;
    cursor: default;
}

h2 {
    font-size: 2.6em;
    cursor: default;
}

p {
    color: rgb(94, 94, 94);
    cursor: default;
}

#first-section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 50px 50px 50px 100px;
}

.half-width {
    width: 50%;
}

.text-container {
    margin: auto 0;
}

.orange-color {
    color: orangered;
}

.bubbles {
    width: 80%;
    margin: 0 auto;
    display: block;
    transition: 0.5s ease-in-out;
}

#first-section img:hover {
    transform: translate(5px);
}

#second-section img:hover {
    transform: translate(-5px);
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    /* background-color: rgb(253, 90, 31); */
    background-image: linear-gradient(35deg, rgb(250, 164, 107), rgb(252, 84, 72));
    padding: 8px 40px;
    border-radius: 5px;
    font-weight: 900;
    transition: 0.5s ease all;
}

.button:hover {
    /* background-image: linear-gradient(35deg, rgb(255, 143, 68), rgb(255, 40, 24)); */
    /* background-color: rgb(255, 0, 0); */
    /* padding: 12px 40px; */
    transform: scale(1.03);
}

#second-section {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    padding: 50px 100px 50px 100px;
}

#third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

#third-section-container {
    display: flex;
    padding: 50px 100px;
}

#third-section>h2 {
    font-size: 2.6em;
    text-align: center;
}

#third-section-container h2 {
    font-size: 2.1em;
}

.experience-card {
    width: 50%;
    margin: 0 30px;
    padding: 50px;
    box-shadow: 5px 5px 50px 10px rgb(212, 212, 212);
    border-radius: 5px;
    background-color: white;
}

#card-1 {
    border-left: 10px solid;
    border-image: linear-gradient(60deg, rgb(13, 207, 255), rgb(11, 142, 250));
    border-image-slice: 1;
    transition: 0.5s ease;
}

#card-1:hover {
    transform: scale(1.01);
}

#card-2 {
    border-left: 10px solid;
    border-image: linear-gradient(60deg, rgb(250, 164, 107), rgb(252, 84, 72));
    border-image-slice: 1;
    transition: 0.5s ease;
}

#card-2:hover {
    transform: scale(1.01);
}

.experience-info {
    color: rgb(255, 0, 76);
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
}

@media(max-width: 1300px) {
    #third-section-container {
        padding: 50px 30px;
    }
    .experience-card {
        width: 50%;
        margin: 0 20px;
    }
}

@media(max-width: 960px) {
    #first-section {
        text-align: center;
        padding: 50px 60px;
        flex-direction: column-reverse;
    }
    #first-section h1 {
        margin-top: 10px;
    }
    .half-width {
        width: 100%;
    }
    .bubbles {
        width: 20%;
        margin: 0 auto;
        display: block;
    }
    #second-section {
        flex-direction: column;
        text-align: center;
        padding: 50px 60px;
        background-position-y: 0%;
    }
    #second-section h2 {
        margin-top: 20px;
    }
    #third-section {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    #third-section-container {
        flex-direction: column;
        padding: 50px 0px;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 2.2em;
    }
    #third-section>h2 {
        font-size: 2.2em;
    }
    #third-section-container h2 {
        font-size: 1.8em;
    }
    .experience-card {
        width: 60%;
        margin: 20px auto;
        padding: 50px;
        box-shadow: 5px 5px 50px 10px rgb(212, 212, 212);
        text-align: center;
        border-radius: 10px;
    }
    #card-1 {
        border-left: none;
        border-bottom: 8px solid;
    }
    #card-2 {
        border-left: none;
        border-bottom: 8px solid;
    }
    footer {
        padding: 50px;
    }
}

@media(max-width: 550px) {
    .bubbles {
        width: 40%;
    }
}

@media(max-width: 440px) {
    h1 {
        font-size: 2em;
    }
    .bubbles {
        width: 60%;
    }
}